<div class="w-screen h-screen flex flex-col items-center justify-center px-4 overflow-y-scroll">
    <div class="max-w-md w-full text-gray-600">
        <div class="text-center">
            <div class="mt-5 space-y-2">
                <h3 class="text-gray-800 text-2xl font-bold sm:text-3xl">Log in to your account</h3>
                <p class="">Don't have an account? <a href="javascript:void(0)" class="font-medium text-indigo-600 hover:text-indigo-500">Sign up</a></p>
            </div>
        </div>
        <form
        [formGroup]="loginForm"
        (submit)="login()"
        id="login-form"
            class="mt-8 space-y-5"
        >
            <div>
                <label class="font-medium">
                    Email
                </label>
                <input
                    type="email"
                    required
                    form="login-form"
                    formControlName="email" 
                    class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border focus:border-indigo-600 shadow-sm rounded-lg"
                />
                <div class="mt-2" *ngIf="emailControl?.invalid && emailControl?.touched">
                    <div class="gap-1 items-center justify-start flex flex-row" *ngIf="emailControl?.errors?.['required']">
                        <svg height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
                    <p>Email is required.</p>
                    </div>
                    <div class="gap-1 items-center justify-start flex flex-row" *ngIf="emailControl?.errors?.['email']">
                        <svg height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
                    <p>Please enter a valid email address.</p>
                    </div>
                   </div>
            </div>
            <div>
                <label class="font-medium">
                    Password
                </label>
                <input
                    type="password"
                    required
                    form="login-form"
                    id="password"
                    formControlName="password" 
                    class="w-full mt-2 px-3 py-2 text-gray-500 bg-transparent outline-none border focus:border-indigo-600 shadow-sm rounded-lg"
                />
                <div class="mt-2" *ngIf="passwordControl?.invalid && passwordControl?.touched">
                    <div class="gap-1 items-center justify-start flex flex-row" *ngIf="passwordControl?.errors?.['required']">
                        <svg height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
                    <p>Password is required.</p>
                    </div>
                    <div class="gap-1 items-center justify-start flex flex-row" *ngIf="passwordControl?.errors?.['minlength'] && !passwordControl?.errors?.['invalidPassword']">
                        <svg height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
                    <p>Password must be at least 8 characters.</p>
                    </div>
                    <div *ngIf="passwordControl?.errors?.['invalidPassword']">
                        <div class="flex flex-row gap-1 justify-start items-center">
                            <svg height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
                            <p>Password must meet the following criteria:</p>
                        </div>
                      <ul class="list-disc mt-2">
                        <li class="ml-10">Password must be at least 8 characters.</li>
                        <li class="ml-10">At least one uppercase letter</li>
                        <li class="ml-10">At least one lowercase letter</li>
                        <li class="ml-10">At least 3 numbers</li>
                        <li class="ml-10">At least 2 special characters</li>
                      </ul>
                    </div>
                  </div>
            </div>
            <input
            type="submit"
            value="Sign in"
            form="login-form"
                class="w-full px-4 py-2 text-white font-medium cursor-pointer bg-indigo-600 hover:bg-indigo-500 active:bg-indigo-600 rounded-lg duration-150"
            />
        </form>
        <div *ngIf="hasLoginError" class="mt-5 flex flex-row gap-3 items-center justify-start">
         <svg height="16" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
         <p>Incorrect mail or password.</p>
          </div>
    </div>
</div>